ADMINER_TAG=__ADMINER_TAG__
ELASTIC_TAG=__ELASTIC_TAG__
GRAFANA_TAG=__GRAFANA_TAG__
MYSQL_TAG=__MYSQL_TAG__
PORTAINER_TAG=__PORTAINER_TAG__
SONARQUBE_TAG=__SONARQUBE_TAG__
YELLOW_LABS_TAG=__YELLOW_LABS_TAG__

# --------------------------------------------------------------------------
# PUBLIC PORT MAPPING
# --------------------------------------------------------------------------
ADMINER_PUBLIC_PORT=__ADMINER_PUBLIC_PORT__
GRAFANA_PUBLIC_PORT=__GRAFANA_PUBLIC_PORT__
ELASTIC_PUBLIC_PORT=__ELASTIC_PUBLIC_PORT__
KIBANA_PUBLIC_PORT=__KIBANA_PUBLIC_PORT__
PORTAINER_PUBLIC_PORT=__PORTAINER_PUBLIC_PORT__
SONARQUBE_PUBLIC_PORT=__SONARQUBE_PUBLIC_PORT__
YELLOW_LABS_PUBLIC_PORT=__YELLOW_LABS_PUBLIC_PORT__ 